<%# Set background color to gray %>

<style>
body {
  background: #F7F7F7;
}
</style>


<%# set photo key of other user %>
<% if @conversation.user2.id == current_user.id %>
  <% if  @conversation.user1.photo.attached? %>
    <% otheruser_cl_photo_key = @conversation.user1.photo.key %>
  <% else %>
    <% otheruser_cl_photo_key = "default-pic"%>
  <% end %>
<% else %>
  <% if  @conversation.user2.photo.attached? %>
    <% otheruser_cl_photo_key = @conversation.user2.photo.key %>
  <% else %>
    <% otheruser_cl_photo_key = "default-pic"%>
  <% end %>
<% end %>

<%# chat-area start %>

<div class="chat">
  <div class="contact">
    <div><%= link_to conversations_path do %><i class="fas fa-chevron-left" style="opacity: 0.7"></i><% end %></div>
    <% if otheruser_cl_photo_key == "default-pic" %>
      <%= image_tag "default-avatar.png", class:"avatar-large" %>
    <% else %>
      <%= cl_image_tag otheruser_cl_photo_key, class:"avatar-large" %>
    <% end %>
    <div class="contact-name-seen">
      <div class="contact-name">
        <% if @conversation.user2.id == current_user.id %>
          <%= @conversation.user1.firstname %>
        <% else %>
          <%= @conversation.user2.firstname %>
        <% end %>
      </div>
      <div class="contact-seen">
      <% if @messages.last.created_at != nil %>
        <%= @messages.last.created_at.strftime(" %e.%m.%y %k.%M")%>
      <% else %>
        <%= DateTime.now.strftime(" %e.%m.%y %k.%M")%>
      <% end %>
      </div>
    </div>
  </div>
  <div class="messages" id="chat-box">
    <%# if @over_ten %>
      <%#= link_to 'Show Previous', '?m=all' %>
    <%# end %>
    <% dates = [] %>
    <% if @messages.last.present? %>
      <% @messages.each do |message| %>
        <% if message.id != nil %>
        <% date_string = message.created_at.strftime("%d.%m.%Y").to_s %>
        <% if not dates.include? date_string %>
          <% dates.push(message.created_at.strftime("%d.%m.%Y")) %>
          <div class="chat-day"><%= message.created_at.strftime("%A, %d %b %Y") %></div>
        <% end %>
        <% user = User.find(message.user_id) %>
        <% if user.id == current_user.id %>
        <div class="message my-message">
          <% if message.body %>
            <%= message.body %>
            <div class="message-time-other"><%= message.created_at.strftime("%H.%M") %></div>
          <% end %>
        </div>
        <% else %>
        <div class="message">
          <% if message.body %>
            <%= message.body %>
            <div class="message-time-my"><%= message.created_at.strftime("%H.%M") %></div>
          <% end %>
          <% message.read = true %>
          <% message.save %>
        </div>
        <% end %>
        <% end %>
      <% end %>
    <% end %>
    <span id="endofchat"></span>
  </div>
  <div class="chat-input-area">
    <i class="far fa-laugh-beam emoji-icon" id="emojipicker"></i>
    <%= form_for [@conversation, @message], remote: true do |f| %>
      <%= f.text_field :body, class: "chat-input-field", autofocus: true %>
      <%= f.text_field :user_id, value: current_user.id, type: "hidden" %>
      <%= f.submit :submit, id: "send" %>
    <% end %>
  </div>
</div>

<%= render 'shared/navigation' %>

<% if  @conversation.user2.photo.attached? %>
  <% path = cl_image_path @conversation.user2.photo.key %>
<% else %>
  <% path = 'https://vignette.wikia.nocookie.net/marvelcinematicuniverse/images/7/73/SMH_Mentor_6.png' %>
<% end %>

<script type="text/javascript">
// move to end of chat on page load

const endofchat = document.getElementById("endofchat");
endofchat.scrollIntoView();

const input = document.getElementById('message_body');

<% if false %>
// add event listener for enter button
document.addEventListener("keyup", function(event) {
  // Number 13 is the "Enter" key on the keyboard
  console.log(event)
  if (event.keyCode === 13) {
    input.preventDefault();
    document.getElementById("send").click();
  }
});
<% end %>

// emoji picker, see https://github.com/joeattardi/emoji-button?ref=mdbootstrap.com

const button = document.getElementById("emojipicker");
const picker = new EmojiButton({
  position: "bottom-start"
});

picker.on('emoji', emoji => {
  input.value += emoji;
  console.log("close")
  setTimeout(() => {
     input.focus();
  }, 100);
});

button.addEventListener('click', () => {
  picker.togglePicker(button);
  //document.querySelector(".emoji-picker__search-icon").remove()
});

</script>
