<div class="container">
  <div class="chat-box row" id="chat-box">
    <%# if @over_ten %>
      <%#= link_to 'Show Previous', '?m=all' %>
    <%# end %>
    <% @messages.each do |message| %>
      <div class="col-md-12 chat-item">
        <% if message.body %>
          <% user = User.find(message.user_id) %>
          <%= message.message_time %> <%= user.firstname %> <%= message.body %>
        <% end %>
      </div>
    <% end %>
    <div id="endofchat"></div>
    <!--div class="col-md-12">
    </div-->
  </div>
</div>

<div class="chat-footer">
  <div class="container">
    <%= form_for [@conversation, @message], html: {class: "ui reply form"}, remote: true do |f| %>
      <%= f.text_area :body, class: "form-control", autofocus: true %>
      <%= f.text_field :user_id, value: current_user.id, type: "hidden" %>
      <%= f.submit "Add Reply", id: "hide-send" %>
    <% end %>
  </div>
</div>


<%= render 'shared/navigation' %>

<style>
#hide-send {
  display:  none;
}
body *, * {
  box-sizing: border-box !important;
}
.chat-item {
  background-color: #ffe1e1;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 30px;
  padding: 50px;
  width: 100%;
  overflow: hidden
}

.chat-footer{
  padding: 10px;
  position: fixed;
  bottom: 105px;
  width: 100%;
}

.chat-box {
  height: 100%;
  overflow: auto;
  overflow-x: hidden;
  padding-bottom: 210px;
}    
</style>
<script type="text/javascript">
// Get the input field
const chatBox = document.getElementById("chat-box");
var input = document.getElementById("message_body");

input.addEventListener("keyup", function(event) {
  // Number 13 is the "Enter" key on the keyboard
  if (event.keyCode === 13) {
    // Cancel the default action, if needed
    //event.preventDefault();
    // Trigger the button element with a click
    document.getElementById("hide-send").click();
  }
});

var endofchat = document.getElementById("endofchat");
endofchat.scrollIntoView();
// Scroll to bottom
//chatBox.scrollTop = chatBox.scrollHeight;
</script>