<div class="chat">
  <div class="contact bar">
    <div class="pic otheruser"></div>
    <div class="name">
      <%= @conversation.user2.firstname %>
    </div>
    <div class="seen">
      01.01.2020
      <%#= @conversation.messages.last.created_at.strftime("%B %Y")%>
    </div>
  </div>
  <div class="messages" id="chat-box">
    <%# if @over_ten %>
      <%#= link_to 'Show Previous', '?m=all' %>
    <%# end %>
    <% @messages.each do |message| %>
      <% user = User.find(message.user_id) %>
      <% if user.id == current_user.id %>
      <div class="message my">
        <% if message.body %>
          <%= message.body %>
        <% end %>
      </div>
      <% end %>
    <% end %>
    <span id="endofchat"></span>
  </div>
  <div class="input">
    <i class="far fa-laugh-beam"></i>
    <%= form_for [@conversation, @message], html: {class: "ui reply form"}, remote: true do |f| %>
      <%= f.text_field :body, class: "form-control", autofocus: true %>
      <%= f.text_field :user_id, value: current_user.id, type: "hidden" %>
      <%= f.submit :submit, id: "send" %><!--i class="fas fa-paper-plane"></i-->
    <% end %>
  </div>
</div>

<%= render 'shared/navigation' %>

<% if  @conversation.user2.photo.attached? %>
  <% path = cl_image_path @conversation.user2.photo.key %>
<% else %>
  <% path = 'https://vignette.wikia.nocookie.net/marvelcinematicuniverse/images/7/73/SMH_Mentor_6.png' %>
<% end %>  

<style>
  .pic.otheruser {
  background-image: url("<%= path %>");
}
</style>

<script type="text/javascript">
// Get the input field
const chatBox = document.getElementById("chat-box");
var input = document.getElementById("message_body");

input.addEventListener("keyup", function(event) {
  // Number 13 is the "Enter" key on the keyboard
  if (event.keyCode === 13) {
    document.getElementById("send").click();
  }
});

var endofchat = document.getElementById("endofchat");
endofchat.scrollIntoView();
</script>