<nav class="bottom-navbar-container">
  <div class="discover-button">
    <%= link_to root_path do %>
      <div>
       <i class="fas fa-search"></i>
     </div>
   <% end %>
 </div>
  <div class="icon-box">
    <%= link_to mynanas_path do %>
      <div class="nav-button <%= "active" if controller_name == 'pages' && action_name == 'mynanas' %>">
        <i class="fas fa-users"></i>
        <span>Nanas</span>
      </div>
    <% end %>

    <%= link_to events_path do %>
      <div class="nav-button <%= "active" if controller_name == 'events' && action_name == 'index' %>" >
        <i class="fas fa-dice"></i>
        <span>Activities</span>
      </div>
    <% end %>
  </div>

  <div class="icon-box">
    <%= link_to conversations_path do %>
      <div class="nav-button <%= "active" if controller_name == 'conversations' && action_name == 'index' %>" >
        <i class="fas fa-envelope"></i>
        <span>Messages</span>
      </div>
    <% end %>
    <%#= link_to , pages_profile_path do %>
      <div class="nav-button <%= "active" if controller_name == 'pages' && action_name == 'profile' %>" >
        <i class="fas fa-user"></i>
        <span>Profile</span>
     </div>
    <%# end %>
  </div>
</nav>
