<%= simple_form_for event do |f| %>
  <%= f.input :title%>
  <%= f.input :description%>
  <%= f.input :max_participants%>
  <%= f.input :start_date%>
  <%= f.input :end_date%>
  <%= f.input :location%>
  <%= f.select :category, options_for_select(%w[Public Private]), remote: true %>
<div id=form-js-input>
</div>
  <%= f.button :submit%>
<% end %>

<script>
  console.log("Hello Form JS")

  if (document.getElementById("event_category").value == 'Private') {
    var invtation = document.getElementById("form-js-input")
    invitation.innerHTML = "<%= j render 'form_private'%>"
  };
</script>
