<%= simple_form_for event do |f| %>
  <%= f.input :title%>
  <%= f.input :description%>
  <%= f.input :max_participants%>
  <%= f.input :start_date%>
  <%= f.input :end_date%>
  <%= f.input :location%>
  <%= f.select :category, options_for_select(%w[Public Private]) %>
<div id="form-js-input" style="display:none;">
  <%= render 'form_private', f: f%>
</div>
  <%= f.button :submit%>
<% end %>
