
<%= simple_form_for event do |f| %>
  <%= f.input :title%>
  <%= f.input :description%>
  <%= f.input :max_participants%>
  <%= f.input :start_date, as: :string, input_html: {class: "datepicker"} %>
  <%= f.input :end_date, as: :string, input_html: {class: "datepicker"} %>
  <%= f.input :location, as: :string%>
  <%= f.input :category, collection: (%w[Public Private]), label: "Choose event type", prompt: 'Select Type' %>

  <% user_collection = [] %>
  <%  current_user.friends.each do |user| %>
    <% if user.is_favorited?(current_user) %>
      <%  user_collection.push(["#{user.firstname} IS A FAVORITE", user.id]) %>
    <% else %>
      <%  user_collection.push([user.firstname, user.id]) %>
    <% end %>
  <% end %>
  <div class="event_invitations_box" style="display: none">
    <%= f.input :invitations, as: :check_boxes, collection: user_collection, input_html: { multiple: true }, label_method: :first, value_method: :second, label:"Choose Friends" %>
  </div>

  <%= f.button :submit, class: 'btn-next'%>
<% end %>





