<div>
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="myevents-tab" data-toggle="tab" href="#myevents" role="tab" aria-controls="myevents" aria-selected="true">My Events</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="publicevents-tab" data-toggle="tab" href="#publicevents" role="tab" aria-controls="publicevents" aria-selected="false">Public Events</a>
    </li>
  </ul>
</div>

<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="myevents" role="tabpanel" aria-labelledby="myevents-tab">
    <ul class="list-group">
    <% @events.each do |event| %>

      <% if event.category == "Private" %>

        <% if (event.user_id == current_user.id) %>
          <li class="list-group-item"><%= event.title %>
            <%=link_to event_path(event.id), method: :delete, data: { confirm: "Are you sure?" } do %>
            <i class="fas fa-trash-alt"></i>
            <% end %>
            <%=link_to edit_event_path(event.id) do %>
            <i class="fas fa-pen"></i>
            <% end %>
          </li>
        <% end %>

        <% if event.participations.present? %>

          <% event.participations.each do |participation| %>
            <% if participation.user_id == current_user.id %>
              <li class="list-group-item"><%= event.title %>
                <%=link_to event_path(event.id), method: :delete, data: { confirm: "Are you sure?" } do %>
                <i class="fas fa-trash-alt"></i>
                <% end %>
                <%=link_to edit_event_path(event.id) do %>
                <i class="fas fa-pen"></i>
                <% end %>
              </li>
            <% end %>
          <% end %>

        <% end %>

      <% end %>
    <% end %>
    </ul>
  </div>

  <div class="tab-pane fade" id="publicevents" role="tabpanel" aria-labelledby="publicevents-tab">

    <ul class="list-group">
    <% @events.each do |event| %>
      <% if event.category == "Public" %>

        <% if (event.user_id = current_user) || (event.participations.user_id = current_user) %>
          <li class="list-group-item"><%= event.title %><%= event.start_date %><%= event.description[0..25]%></li>
        <% end %>

      <% end %>
    <% end %>
    </ul>
  </div>
</div>

<%= link_to "+", new_event_path, class: "btn btn-plus btn-primary" %>
