<%= render 'shared/navbar-nana' %>
<div>
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="myevents-tab" data-toggle="tab" href="#myevents" role="tab" aria-controls="myevents" aria-selected="true">My Events</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="publicevents-tab" data-toggle="tab" href="#publicevents" role="tab" aria-controls="publicevents" aria-selected="false">Public Events</a>
    </li>
  </ul>
</div>

<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="myevents" role="tabpanel" aria-labelledby="myevents-tab">
    <ul class="list-group">
    <% @events.first(3).sort_by { |event| event.start_date }.each do |event| %>

        <% if (event.user_id == current_user.id) %>

          <div class="card-product-event">
            <img style="height:60px;width:60px;"src="https://images.unsplash.com/photo-1491438590914-bc09fcaaf77a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80"/>
            <div class="card-product-infos-event">
              <p id="event-date">You are organizer of: </p>
              <p id="event-date"><%= event.start_date.strftime("%a, %d. %B %H:%M") %></p>
              <h2><%= event.title %></h2>
              <% counter = 0 %>
              <% current_user.friends.each do |friend| %>
                <% event.participations.each do |participation| %>

                  <% if friend == participation.user %>
                  <% counter += 1 %>
                  <% end %>

                <% end  %>
              <% end %>
              <% if counter > 0 %>
                <p><%= counter %> Friends are going</p>
              <% end %>
            </div>
            <%= link_to event_path(event.id) do %><i class="fas fa-chevron-right"></i><% end %>
          </div>
        <% end %>

        <% if event.invitations.present?%>

          <% event.invitations.each do |invitation| %>
            <% if (invitation.user_id == current_user.id) && (event.user_id != current_user.id) %>

              <div class="card-product-event">
                <img style="height:60px;width:60px;"src="https://images.unsplash.com/photo-1491438590914-bc09fcaaf77a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80"/>
                <div class="card-product-infos-event">
                  <p id="event-date">You got invited to: </p>
                  <p id="event-date"><%= event.start_date.strftime("%a, %d. %B %H:%M") %></p>
                  <h2><%= event.title %></h2>
                  <% counter = 0 %>
                  <% current_user.friends.each do |friend| %>
                    <% event.participations.each do |participation| %>

                      <% if friend == participation.user %>
                      <% counter += 1 %>
                      <% end %>

                    <% end  %>
                  <% end %>
                  <% if counter > 0 %>
                    <p><%= counter %> Friends are going</p>
                  <% end %>
                </div>
                <%= link_to event_path(event.id) do %><i class="fas fa-chevron-right"></i><% end %>
              </div>
            <% end %>
          <% end %>
        <% end %>

        <% if event.participations.present? %>

          <% event.participations.each do |participation| %>
            <% if participation.user_id == current_user.id && event.user_id != current_user.id %>

              <div class="card-product-event">
                <img style="height:60px;width:60px;"src="https://images.unsplash.com/photo-1491438590914-bc09fcaaf77a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80"/>
                <div class="card-product-infos-event">
                  <p id="event-date">You participate in: </p>
                  <p id="event-date"><%= event.start_date.strftime("%a, %d. %B %H:%M") %></p>
                  <h2><%= event.title %></h2>
                  <% counter = 0 %>
                  <% current_user.friends.each do |friend| %>
                    <% event.participations.each do |participation| %>

                      <% if friend == participation.user %>
                      <% counter += 1 %>
                      <% end %>

                    <% end  %>
                  <% end %>
                  <% if counter > 0 %>
                    <p><%= counter %> Friends are going</p>
                  <% end %>
                </div>
                  <%= link_to event_path(event.id) do %><i class="fas fa-chevron-right"></i><% end %>
              </div>
            <% end %>
          <% end %>
        <% end %>
    <% end %>
    </ul>
  </div>

  <div class="tab-pane fade" id="publicevents" role="tabpanel" aria-labelledby="publicevents-tab">

    <ul class="list-group">
    <% @events.each do |event| %>
      <% if (event.category == "Public") && (event.user_id != current_user.id) %>

              <div class="card-product-event">
                <img style="height:60px;width:60px;"src="https://images.unsplash.com/photo-1491438590914-bc09fcaaf77a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80"/>
                <div class="card-product-infos-event">
                  <% event.participations.each do |participation| %>
                    <% if participation.user == current_user %>
                      <p id="event-date">You participate in: </p>
                    <% end %>
                  <% end %>
                  <p id="event-date"><%= event.start_date.strftime("%a, %d. %B %H:%M") %></p>
                  <h2><%= event.title %></h2>
                  <% counter = 0 %>
                  <% current_user.friends.each do |friend| %>
                    <% event.participations.each do |participation| %>

                      <% if friend == participation.user %>
                      <% counter += 1 %>
                      <% end %>

                    <% end  %>
                  <% end %>
                  <% if counter > 0 %>
                    <p><%= counter %> Friends are going</p>
                  <% end %>
                </div>
                  <%= link_to event_path(event.id) do %><i class="fas fa-chevron-right"></i><% end %>
              </div>

      <% end %>
    <% end %>
    </ul>
  </div>
</div>

<%= link_to new_event_path do%>
  <div class="btn-round">
    <i class="btn-round-content fas fa-plus"></i>
  </div>
<% end %>

<%= render 'shared/navigation' %>
