<%= render 'shared/navbar-nana' %>

      <div class="event-filter-tabs">

        <%= link_to events_path do  %>
          <h4><span class="badge badge-secondary event-selection-tag">All</span></h4>
        <% end %>

        <%= link_to events_path(:organizing => '1') do  %>
          <h4><span class="badge badge-secondary event-selection-tag">Organizing</span></h4>
        <% end %>

        <%= link_to events_path(:participating => '1') do  %>
          <h4><span class="badge badge-secondary event-selection-tag">Participating</span></h4>
        <% end %>

        <%= link_to events_path(:invited => '1') do  %>
          <h4><span class="badge badge-secondary event-selection-tag">Invited</span></h4>
        <% end %>

        <%= link_to events_path(:browse => '1') do  %>
          <h4><span class="badge badge-secondary event-selection-tag">Public</span></h4>
        <% end %>
      </div>

    <% @events.sort_by { |event| event.start_date }.each do |event| %>

      <% is_organizer = false %>
      <% is_participating = false %>
      <% is_invited = false %>

      <% if (event.user_id == current_user.id) %>
        <% is_organizer = true %>
      <% end %>

      <% if event.participations.present? %>
        <% event.participations.each do |participation| %>
          <% if participation.user_id == current_user.id && event.user_id != current_user.id %>
          <% is_participating = true %>
          <% end %>
        <% end %>
      <% end %>

      <% if event.invitations.present?%>
        <% event.invitations.each do |invitation| %>
          <% if (invitation.user_id == current_user.id) && (event.user_id != current_user.id) %>
            <% is_invited = true %>
          <% end %>
        <% end %>
      <% end %>

      <ul class="list-group">
        <% if (is_invited == true) || (is_participating == true) || (is_organizer == true) %>
            <div class="card-product-event">
              <img style="height:60px;width:60px;"src="https://images.unsplash.com/photo-1491438590914-bc09fcaaf77a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80"/>
              <div class="card-product-infos-event">
                <% if is_organizer == true %>
                  <p id="event-date">You are organizer of: </p>
                <% elsif is_participating == true %>
                  <p id="event-date">You are participating in: </p>
                <% else %>
                  <p id="event-date">You are invited to: </p>
                <% end %>
                <p id="event-date"><%= event.start_date.strftime("%a, %d. %B %H:%M") %></p>
                <h2><%= event.title %></h2>
                <% counter = 0 %>
                <% current_user.friends.each do |friend| %>
                  <% event.participations.each do |participation| %>

                    <% if friend == participation.user %>
                    <% counter += 1 %>
                    <% end %>

                  <% end  %>
                <% end %>
                <% if counter > 1 %>
                  <p><%= counter %> Nanas are going</p>
                <% elsif counter == 1 %>
                  <p><%= counter %> Nana is going</p>
                <% else %>
                  <p></p>
                <% end %>
              </div>
              <%= link_to event_path(event.id) do %><i class="fas fa-chevron-right"></i><% end %>
            </div>
        <% end %>
      </ul>
    <% end %>

<%= link_to new_event_path do%>
  <div class="btn-round">
    <i class="btn-round-content fas fa-plus"></i>
  </div>
<% end %>

<%= render 'shared/navigation' %>
