<h1>Events#new</h1>
<p>Find me in app/views/events/new.html.erb</p>

<%= simple_form_for @event do |f| %>
  <%= f.input :title%>
  <%= f.input :description%>
  <%= f.input :max_participants%>
  <%= f.input :start_date%>
  <%= f.input :end_date%>
  <%= f.input :category%>
  <%= f.button :submit %>
<% end %>
