<div class= "card-event-show">

  <h2><%=@event.title%></h2>

  <div>
  <%=@event.description  %>
  </div>

  <div class="card-event-show-info">
    <div class="card-event-show-info-item">
      <i class="far fa-clock"></i>
      <p><%=@event.start_date.strftime("%a, %d. %B %H:%M")%> - <%=@event.end_date.strftime("%B %H:%M")%></p>
    </div>
    <div class="card-event-show-info-item">
      <i class="fas fa-map-marker-alt"></i>
      <p><%=@event.location %></p>
    </div>
    <div class="card-event-show-info-item">
      <i class="fas fa-user"></i>
      <p><% @event.user.firstname %> is your host</p>
    </div>
    <div class="card-event-show-info-item">
      <i class="fas fa-users"></i>
      <%#=@event.category  %>
      <%@event.participations.each do |participation|  %>
        <%= participation.user.firstname  %>
      <% end %>
      <%@event.invitations.each do |invitation|  %>
        <%= invitation.user.firstname  %>
      <% end %>
    </div>
  </div>


  <div class="card-event-show-card">
    <% user_organizes = false %>
    <% user_participates = false %>

    <% if (@event.user_id == current_user.id) %>
      <% user_organizes = true %>
      <%=link_to event_path(@event.id), method: :delete, data: { confirm: "Are you sure?" } do %>
        <i class="fas fa-trash-alt"></i> Delete Event
      <% end %>
      <%=link_to edit_event_path(@event.id) do %>
        <i class="fas fa-pen"></i> Edit Event
      <% end %>
    <% end %>

    <% if @event.invitations.present?%>
      <% @event.invitations.each do |invitation| %>
        <% if (invitation.user_id == current_user.id) && (@event.user_id != current_user.id) %>
          <%=link_to invitation_path(invitation.id), method: :delete do %>
            <i class="fas fa-times-circle"></i> Reject Invite
          <% end %>
          <%=link_to event_participations_path(@event.id), method: :post do %>
            <i class="fas fa-check-circle"></i> Accept Invite
          <% end %>
        <% end %>
      <% end %>
    <% end %>

    <% if @event.participations.present? %>
      <% @event.participations.each do |participation| %>
        <% if participation.user_id == current_user.id && @event.user_id != current_user.id %>
          <% user_participates = true %>
          <%=link_to participation_path(participation.id), method: :delete do %>
            <i class="fas fa-times-circle"></i> Cancel Participation
          <% end %>
        <% end %>
      <% end %>
    <% end %>

    <% if (user_organizes == false) && (user_participates == false) %>
        <%=link_to event_participations_path(@event.id), method: :post do %>
          <i class="fas fa-check-circle"></i> Participate
        <% end %>
    <% end %>
  </div>
</div>
