<h1>Events#show</h1>
<p>Find me in app/views/events/show.html.erb</p>
<%=@event.title  %>
<%=@event.description  %>
<%=@event.location %>
<%=@event.start_date  %>
<%=@event.end_date  %>
<%=@event.category  %>
<%@event.participations.each do |participation|  %>
  <%= participation.user.firstname  %>
<% end %>
<%@event.invitations.each do |invitation|  %>
  <%= invitation.user.firstname  %>
<% end %>
