<%= render 'shared/navbar-back' %>
<div class="background">
<div class= "card-event-show">

  <div class="profile-pic">
    <% if @event.photo.attached? %>
      <%= cl_image_tag @event.photo.key, class:"avatar-profile-page" %>
    <% else %>
      <img class="avatar-profile-page" style="height: 80px;width: 80px;" src="https://images.unsplash.com/photo-1491438590914-bc09fcaaf77a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80"/>
    <% end %>
  </div>

  <h2><%=@event.title%></h2>

  <div style="text-align:center; margin-top:15px; margin-bottom: 15px;">
  <%=@event.description  %>
  </div>

  <div class="card-event-show-info">
    <%#=@event.category  %>
    <div class="card-event-show-info-item">
      <i class="far fa-clock"></i>
      <p><%=@event.start_date.strftime("%a, %d. %B %H:%M")%> - <%=@event.end_date.strftime("%B %H:%M")%></p>
    </div>
    <div class="card-event-show-info-item">
      <i class="fas fa-map-marker-alt"></i>
      <p><%=@event.location %></p>
    </div>
    <div class="card-event-show-info-item">
      <i class="fas fa-user"></i>
      <p><%= @event.user.firstname %> is your host</p>
    </div>
    <div class="card-event-show-info-item card-event-show-friends-participating">
      <i class="fas fa-users"></i>

      <% friend_counter = 0 %>

      <%@event.participations.each do |participation|  %>
        <% current_user.friends.each do |friend| %>
          <% if participation.user == friend%>
            <% friend_counter += 1 %>
          <% end %>
        <% end %>
      <% end %>

      <% if friend_counter == 0 %>
        <p>Currently none of your friends are participating</p>
      <% else %>
        <div class="card-event-show-friends-participating-profiles">
          <p><%=friend_counter%> of your friends are participating</p>
        </div>
      <% end %>

      <%@event.participations.each do |participation|  %>
        <% current_user.friends.each do |friend| %>
          <% if participation.user == friend%>

            <div class="profile-pic">
              <% if participation.user.photo.attached? %>
                <%= cl_image_tag participation.user.photo.key, class:"avatar-small" %>
              <% else %>
                <%= image_tag "default-avatar.png", class:"avatar-small" %>
              <% end %>
            </div>

          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="card-event-show-action">
    <% user_organizes = false %>
    <% user_participates = false %>
    <% user_invited = false %>

    <% if (@event.user_id == current_user.id) %>
      <% user_organizes = true %>
      <div class="two-btn-div">
        <%=link_to event_path(@event.id), method: :delete, data: { confirm: "Are you sure?" } do %>
          <p class="btn-next"><i class="fas fa-trash-alt"></i> Delete Event</p>
        <% end %>
        <%=link_to edit_event_path(@event.id) do %>
          <p class="btn-next"><i class="fas fa-pen"></i> Edit Event</p>
        <% end %>
      </div>
    <% end %>

    <% if @event.participations.present? %>
      <% @event.participations.each do |participation| %>
        <% if participation.user_id == current_user.id && @event.user_id != current_user.id %>
          <% user_participates = true %>
          <%=link_to participation_path(participation.id), method: :delete do %>
            <p class="btn-next"><i class="fas fa-times-circle"></i> Cancel Participation</p>
          <% end %>
        <% end %>
      <% end %>
    <% end %>

    <% if @event.invitations.present?%>
      <% @event.invitations.each do |invitation| %>
        <% if (invitation.user_id == current_user.id) && (@event.user_id != current_user.id) %>
          <% user_invited = true %>
          <%=link_to invitation_path(invitation.id), method: :delete do %>
            <p class="btn-next"><i class="fas fa-times-circle"></i> Reject Invite</p>
          <% end %>
          <%=link_to event_participations_path(@event.id), method: :post do %>
            <p class="btn-next"><i class="fas fa-check-circle"></i> Accept Invite</p>
          <% end %>
        <% end %>
      <% end %>
    <% end %>

    <% if (user_organizes == false) && (user_participates == false) && (user_invited == false) %>
        <%=link_to event_participations_path(@event.id), method: :post do %>
          <p class="btn-next"><i class="fas fa-check-circle"></i> Participate</p>
        <% end %>
    <% end %>
  </div>
</div>
  <div id="map"
    style="width: 100%;
    height: 40vh; margin-top: 20px; margin-bottom: 20px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

</div>
<%= render 'shared/navigation' %>
