<%= render 'shared/navbar-nana' %>
<div class="background">
  <div class="requests-header">
    <% if @friend_requested.present? == false && @friends.present? == false %>
      <h3 style="text-align: center; ">Let's get started</h3>

      <%= link_to root_path do %>
        <p class="btn-next">Discover</p>
      <% end %>
    <% end %>
    <% if @friends_requested.present? %>
      <h3 class="requests-header mt-3">Friend requests</h3>
        <% @friends_requested.each do |friend_requested| %>
        <div class="d-flex justify-content-between align-items-center ml-2 mr-3">
          <%= link_to your_profile_path(friend_requested.id) do %>
          <div class="card-product w-100">
              <% if friend_requested.photo.attached? %>
                <%= cl_image_tag friend_requested.photo.key, class: "avatar" %>
              <% else %>
                <%= image_tag "default-avatar.png", class: "avatar" %>
              <% end %>
            <div class="card-product-infos-mynanas">
              <h6><%= friend_requested.firstname  %></h6>
              <% match_score = current_user.calculate_match(friend_requested, current_user.answers.pluck(:answer)) %>
              <% if match_score == 0 %>
                <p>Sorry, no matching</p>
              <% else %>
                <div class="progress mt-2">
                  <% if match_score < 50 %>
                    <div class="progress-bar" id="bar-under" role="progressbar" style= "width: <%= "#{match_score}%" %>" aria-valuenow="<%= match_score %>" aria-valuemin="0" aria-valuemax="100"><%= match_score %>%</div>
                  <% else %>
                    <div class="progress-bar" id="bar-over" role="progressbar" style= "width: <%= "#{match_score}%" %>" aria-valuenow="<%= match_score %>" aria-valuemin="0" aria-valuemax="100"><%= match_score %>%</div>
                  <% end %>
                </div>
                <% end %>
            </div>
          </div>
            <div class="d-flex align-items-center" >
              <%=link_to accept_friend_path(friend_requested.id), method: :patch do %>
                <i class="fas fa-check-circle pr-2" style="opacity: 0.7"></i>
              <% end %>
              <%=link_to reject_friend_path(friend_requested.id), method: :patch do %>
                <i class="fas fa-times-circle" style="opacity: 0.7"></i>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="requests-header mt-5">
    <% if @friends.present? %>
      <h3 class="requests-header">My Nanas</h3>
      <% @friends.each do |friend|%>
        <div class="d-flex justify-content-between align-items-center ml-2 mr-3">
          <%= link_to your_profile_path(friend.id) do %>

            <div class="card-product">
              <% if friend.photo.attached? %>
                <%= cl_image_tag friend.photo.key, class: "avatar" %>
              <% else %>
                <%= image_tag "default-avatar.png", class: "avatar" %>
              <% end %>
              <div class="card-product-infos-mynanas">
                <h6><%= friend.firstname %></h6>
                <p><%= friend.motto  %></p>
              </div>
            </div>
            <div class="">
              <% if friend.is_favorited?(current_user) %>
                <div id="<%= friend.id%>-box"> <!--This DIV is important for Ajax -->
                  <%= link_to nana_unfriend_path(friend.id), method: :delete, remote: true  do %>
                    <i class="fas fa-star" style="opacity: 0.7"></i>
                  <% end %>
                </div>
              <% else  %>
                <div id="<%= friend.id%>-box"> <!--This DIV is important for Ajax -->
                  <%= link_to nana_friend_path(friend.id), method: :post, remote: true do %>
                    <i class="far fa-star" style="opacity: 0.7"></i>
                  <% end %>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>


<%= render 'shared/navigation' %>
