<h1>My Nanas</h1>

<div>
  <h2>Friend requests</h2>
  <% @friends_requested.each do |friend_requested| %>
    <%= friend_requested.firstname  %>

      <%=link_to accept_friend_path(friend_requested.id), method: :patch do %>
        <i class="fas fa-check-circle"></i>
      <% end %>

      <%=link_to reject_friend_path(friend_requested.id), method: :patch do %>
        <i class="fas fa-times-circle"></i>
      <% end %>

  <% end %>
</div>

<div>
  <h2>My friends</h2>

  <% @friends.each do |friend|%>

    <%= friend.firstname %>
    <% if friend.is_favorited?(current_user) %>
    <div id="<%= friend.id%>-box"> <!--This DIV is important for Ajax -->
            <%= link_to nana_unfriend_path(friend.id), method: :delete, remote: true  do %>
              <i class="fas fa-heart blue-heart"></i>
            <% end %>
    </div>
    <% else  %>
    <div id="<%= friend.id%>-box"> <!--This DIV is important for Ajax -->
            <%= link_to nana_friend_path(friend.id), method: :post, remote: true do %>
            <i class="fas fa-heart"></i>
            <% end %>
    </div>

    <% end %>

  <% end %>
</div>


