<div>
  <h2>Friend requests</h2>
  <% @friends_requested.each do |friend_requested| %>
  <% #link_to user_path(friend_requested.id) do%>
    <div class="card-friend">
      <div class="card-friend-img">
        <% if friend_requested.photo.attached? %>
          <%= cl_image_tag friend_requested.photo.key, class:"avatar" %>
        <% else %>
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" /, class="avatar">
        <% end %>
      </div>
      <div class="card-friend-infos">
        <h2><%= friend_requested.firstname  %></h2>
        <p><%= friend_requested.motto  %></p>
      </div>

      <div class="card-friend-action">

          <%=link_to accept_friend_path(friend_requested.id), method: :patch do %>
            <i class="fas fa-check-circle"></i>
          <% end %>

          <%=link_to reject_friend_path(friend_requested.id), method: :patch do %>
            <i class="fas fa-times-circle"></i>
          <% end %>

      </div>

    </div>
  <% #end %>
  <% end %>

</div>

<div>
  <h2>My friends</h2>

  <% @friends.each do |friend|%>

    <%= friend.firstname %>
    <% if friend.is_favorited?(current_user) %>
    <div id="<%= friend.id%>-box"> <!--This DIV is important for Ajax -->
            <%= link_to nana_unfriend_path(friend.id), method: :delete, remote: true  do %>
              <i class="fas fa-heart blue-heart"></i>
            <% end %>
    </div>
    <% else  %>
    <div id="<%= friend.id%>-box"> <!--This DIV is important for Ajax -->
            <%= link_to nana_friend_path(friend.id), method: :post, remote: true do %>
            <i class="fas fa-heart"></i>
            <% end %>
    </div>

    <% end %>

  <% end %>
</div>
