<div id="caroselOnboarding" class="onboarding-carousel carousel slide" data-interval="false">
  <%= simple_form_for current_user do |f| %>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="carousel-item-wrapper">
        <h3 class="panel-start-text">You are almost there...</h3>
        <div class="mt-5">
          <%= image_tag "onboarding-start.png"%>
          <button type="button" class="next btn-next">
            NEXT
          </button>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="carousel-item-wrapper form-wrapper">
        <%= f.input :photo,  as: :file, input_html: { class: 'd-none' }, label_html: { class: 'upload-photo'}, label: 'UPLOAD PROFILE PICTURE' %>
        <%= f.input :motto, label: false, placeholder: "MOTTO" %>
        <%= f.input :description, label: false, placeholder: "DESCRIPTION" %>
        <%= f.input :address, label: false, placeholder: "ADDRESS"%>
        <%#= f.input :kid, label: false, placeholder: "Age of your child"%>
        <button type="button" class="next btn-next">
          NEXT
        </button>
      </div>
    </div>

    <% Question.all.each do |question| %>
    <div class="carousel-item">
            <div class="carousel-item-wrapper">

      <h3 class="panel-text"><%= question.question %></h3>
      <input hidden type="radio" id="question-<%= question.id %>-option-a" name="question-<%= question.id %>" value="1">
      <label class="btn-quiz next btn-next" for="question-<%= question.id %>-option-a"> <%= question.option_a %></label>
      <input hidden type="radio" id="question-<%= question.id %>-option-b" name="question-<%= question.id %>" value="2">
      <label class="btn-quiz next btn-next" for="question-<%= question.id %>-option-b"> <%= question.option_b %></label>
      <%= image_tag "onboarding.png"%>
    </div>
    </div>
    <% end %>

    <div class="carousel-item">
      <div class="carousel-item-wrapper">
        <h3 class="panel-start-text"></h3>
        <div class="mt-5">
          <%= image_tag "letsgo.png"%>
          <%= f.button :submit, "Let's go!", class: "next btn-next" %>
        </div>
      </div>
    </div>

  </div>
  <% end %>
</div>

<script>
</script>



