<div id="caroselOnboarding" class="onboarding-carousel carousel slide" data-interval="false">
  <%= simple_form_for current_user do |f| %>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="carousel-item-wrapper">
        <h3 class="panel-start-text">You are almost there...</h3>
        <div class="mt-5">
          <%= image_tag "onboarding-start.png"%>
          <button type="button" class="next btn-next">
            NEXT
          </button>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <div class="carousel-item-wrapper form-wrapper">
        <%= f.input :photo,  as: :file, input_html: { class: 'd-none' }, label_html: { class: 'upload-photo'}, label: 'UPLOAD PROFILE PICTURE' %>
        <%= f.input :motto, label: false, placeholder: "Status" %>
        <%= f.input :description, label: false, placeholder: "Description" %>
        <%= f.input :address, label: false, placeholder: "Address" %>
        <button class="btn btn-primary"id="add">x</button>
        <div class="kids-input-container">
          <!-- <input type="date" html5="true" name="kids[][kid_birthday]"/> -->
        </div>

        <%#= f.input :kid, label: false, placeholder: "Age of your child"%>
        <button type="button" class="btn-next next btn-blocked" id="update-form">
          <!-- removed the next class on button to force user into inserting address -->
          NEXT
        </button>
      </div>
    </div>

    <% Question.all.each do |question| %>
    <div class="carousel-item">
            <div class="carousel-item-wrapper">

      <h3 class="panel-text"><%= question.question %></h3>
      <input hidden type="radio" id="question-<%= question.id %>-option-a" name="question-<%= question.id %>" value="1">
      <label class="btn-quiz next btn-next" for="question-<%= question.id %>-option-a"> <%= question.option_a %></label>
      <input hidden type="radio" id="question-<%= question.id %>-option-b" name="question-<%= question.id %>" value="2">
      <label class="btn-quiz next btn-next" for="question-<%= question.id %>-option-b"> <%= question.option_b %></label>
      <%= image_tag "onboarding.png"%>
    </div>
    </div>
    <% end %>

    <div class="carousel-item">
      <div class="carousel-item-wrapper">
        <h3 class="panel-start-text"></h3>
        <div class="mt-5">
          <%= image_tag "letsgo.png"%>
          <%= f.button :submit, "Let's find parents!", class: "next btn-next last-btn" %>
        </div>
      </div>
    </div>

  </div>
  <% end %>
</div>

<script>
  const nextBtn = document.querySelector("#update-form");
  const addressInput = document.querySelector("#user_address")
  const errorMessage = `<span id="error-message" class="">Sorry, we need your address</span>`
  let errorSpan = null

  addressInput.addEventListener("change", (event) => {
    console.log("hi")
    if (addressInput.value != "") {
      nextBtn.classList.remove("btn-blocked")
    }
  })

  nextBtn.addEventListener("click", (event) => {
    if (addressInput.value == "" && errorSpan == null) {
      if (errorSpan != null) errorSpan.remove();
      addressInput.style.border = "1px solid red";
      addressInput.insertAdjacentHTML("beforebegin", errorMessage)
      errorSpan = document.querySelector("#error-message");
    }
  })
</script>




