<%= render 'shared/navbar-nana' %>
<div class="background d-flex justify-content-center flex-column">
  <div class="profile-pic">
    <% if current_user.photo.attached? %>
      <%= cl_image_tag current_user.photo.key, class:"avatar-profile-page" %>
    <% else %>
      <%= image_tag "default-avatar.png", class:"avatar-profile-page" %>
    <% end %>
  </div>
  <div class="profile-infos">
    <h4><%= current_user.firstname %> <%=current_user.lastname%></h4>
    <h6 style="opacity: 0.6; font-weight: lighter;"><%= current_user.email %> </h6>
    <p><%= current_user.motto %> <br>
    <%= current_user.address %></p>
  </div>
  <div class="my-2 row" style="width: 100vw; margin: 0 auto">
    <% current_user.kids.each do |kid|  %>
    <div class="col-6">
    <div class="kid-container d-flex align-items-center justify-content-start my-3 px-3 col-12">
        <% kid_age_in_month = ((Date.today - kid.birthday).to_f / 365 * 12).round %>
        <% if kid_age_in_month < 2 %>
          <div class="kid"><%= image_tag "baby.svg" %></div>
          <% kid_age = "#{kid_age_in_month} month" %>
        <% elsif kid_age_in_month < 23 %>
          <div class="kid"><%= image_tag "baby.svg" %></div>
          <% kid_age = "#{kid_age_in_month} months" %>
        <% else %>
        <div class="kid"><%= image_tag "kid.svg" %></div>
          <% kid_age = "#{(kid_age_in_month / 12).round(0)} years" %>
        <% end %>
        <div><%= kid_age %></div>
      </div>
      </div>
  <% end %>
  </div>
  <div class="description-container mx-auto my-2" style="height: 100px;">
    <div class="profile-info-item p-3"><%= current_user.description %></div>
  </div>
  <div class="btn-sm-bottom">
    <%= link_to edit_user_registration_path do %>
      <i class='fas fa-edit' style="opacity: 0.7"></i>
    <% end %>
    <%= link_to "Update your profile", edit_user_registration_path, style: 'opacity: 0.7' %>
  </div>
  <div class="btn-sm-bottom">
    <%= link_to "Log out", destroy_user_session_path, method: :delete,  style: 'opacity: 0.7' %>
  </div>
</div>
<%= render 'shared/navigation' %>
