<%= render 'shared/navbar-nana' %>
<div class="d-flex justify-content-center flex-column">
  <div class="profile-pic">
    <% if @user.photo.attached? %>
      <%= cl_image_tag @user.photo.key, class:"avatar-profile-page" %>
    <% else %>
      <%= image_tag "default-avatar.png", class:"avatar-profile-page" %>
    <% end %>
  </div>
  <div class="profile-infos">
    <h4><%= @user.firstname %> <%= @user.lastname%></h4>
    <h6 style="opacity: 0.6; font-weight: lighter;"><%= @user.email %> </h6>
    <p><%= @user.motto %> <br>
    <%= @user.address %></p>
    <%= @distance  %> km away from you
    <p style="margin-bottom: -10px; margin-top: 10px;">Match Score:</p>
    <div style="width: 200px;">
      <% if current_user.calculate_match(@user) == 0 %>
        <p>Sorry, no match data</p>
      <% else %>
        <div class="progress mt-2">
          <% if current_user.calculate_match(@user) < 50 %>
              <div class="progress-bar" id="bar-under" role="progressbar" style= "width: <%= "#{current_user.calculate_match(@user)}%" %>" aria-valuenow="<%= current_user.calculate_match(@user) %>" aria-valuemin="0" aria-valuemax="100"><%= current_user.calculate_match(@user) %>%</div>
          <% else %>
              <div class="progress-bar" id="bar-over" role="progressbar" style= "width: <%= "#{current_user.calculate_match(@user)}%" %>" aria-valuenow="<%= current_user.calculate_match(@user) %>" aria-valuemin="0" aria-valuemax="100"><%= current_user.calculate_match(@user) %>%</div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="profile-info-box mx-auto my-4">
    <div class="label-kids">Kids</div>
    <% @user.kids.each do |kid|  %>
      <div class="profile-info-item p-2">
        <i class="fas fa-baby"></i>
        <div><%= ((Date.today - kid.birthday).to_f / 365 * 12).round  %></div>
      </div>
  <% end %>
  </div>
  <div class="profile-info-box mx-auto my-2" style="height: 100px;">
    <div class="label-description">Description</div>
    <div class="profile-info-item p-3"><%= current_user.description %></div>
  </div>
  <div class="profile-action">

    <% is_a_friend = false %>
    <% is_a_pending_friend = false %>
    <% is_a_requested_friend = false %>

    <% if current_user.friends_with?(@user) %>
      <%# 2 ID %>
      <%=link_to unfriend_path(@user.id), method: :patch do %>
      <% is_a_friend = true %>
        <%= "UNFRIEND"  %>
      <% end %>
    <% end %>

    <% current_user.pending_friends.each do |pending_friend| %>
      <% if pending_friend == @user %>
        <%# 5 ID %>
        <% is_a_pending_friend = true %>
        <%= "Your friend request is still pending" %>
      <% end %>
    <% end %>

    <% current_user.requested_friends.each do |requested_friend| %>
      <% if requested_friend == @user %>
        <% is_a_requested_friend = true %>
        <%# 8 ID %>
        <%=link_to accept_friend_profile_path(requested_friend.id), method: :patch do %>
          <i class="fas fa-check-circle"></i>
        <% end %>
        <%=link_to reject_friend_profile_path(requested_friend.id), method: :patch do %>
          <i class="fas fa-times-circle"></i>
        <% end %>
      <% end %>
    <% end %>

    <% if is_a_friend == false && is_a_requested_friend == false && is_a_pending_friend == false %>
      <%# 5 ID %>
      <%=link_to request_friend_path(@user.id), method: :patch do %>
        <p class="btn-next">Connect</p>
      <% end %>
    <% end %>
  </div>
</div>

<%= render 'shared/navigation' %>


