<div class="profile">
  <div class="profile-pic">

    <% if current_user.photo.attached? %>
      <%= cl_image_tag @user.photo.key, class:"avatar" %>
        <% else %>
      <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" /, class="avatar">
    <% end %>

  </div>

  <div class="profile-info">
    <div class="profile-info-box">
      <div class="label">Name</div>
      <div class="profile-info-item"><%= @user.firstname %> <%=@user.lastname%></div>
    </div>
    <div class="profile-info-box">
      <div class="label">Motto</div>
      <div class="profile-info-item"><%= @user.motto %></div>
    </div>
    <div class="profile-info-box">
      <div class="label">Description</div>
      <div class="profile-info-item"><%= @user.description %></div>
    </div>
    <div class="profile-info-box">
      <div class="label">Kids</div>
      <% @user.kids.each do |kid|  %>
        <div class="profile-info-item"><%= kid.birthday  %></div>
    <% end %>
    </div>
  </div>

  <div class="profile-action">

  <% if current_user.friends_with?(@user) %>
    <%# 2 ID %>
    <%= "UNFRIEND"  %>
  <% elsif current_user.requested_friends.each do |requested_friend| %>
      <% if requested_friend = @user %>
      <%# 5 ID %>
      <%= "OPEN FRIEND REQUEST" %>
      <% end %>
    <% end %>
  <% elsif current_user.pending_friends.each do |pending_friend| %>
    <% pending_friend = @user %>
    <%# 8 ID %>
    <%=link_to accept_friend_path(pending_friend.id), method: :patch do %>
      <i class="fas fa-check-circle"></i>
    <% end %>
    <%=link_to reject_friend_path(pending_friend.id), method: :patch do %>
      <i class="fas fa-times-circle"></i>
    <% end %>

    <% end %>
  <% else %>
    <%# 5 ID %>
    <%= "CONNECT" %>
  <% end %>

  </div>
</div>
