<div class="container">
  <div class="row flex-column justify-content-center align-items-center">
    <%# <div class="d-flex flex-column justify-content-center align-items-center"> %>
      <%= image_tag "logo.svg", style: "width: 200px; height: 200px" %>
      <h2 class="header">Welcome back</h2>
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-inputs">
          <%= f.input :email,
                      label: false,
                      placeholder: "user@email.com",
                      required: false,
                      autofocus: true,
                      input_html: { autocomplete: "email" } %>
          <%= f.input :password,
                      label: false,
                      placeholder: "Password",
                      required: false,
                      input_html: { autocomplete: "current-password" } %>
          <%= f.input :remember_me, wrapper_html: { class: 'custom-control custom-switch' }, input_html: { class: 'custom-control-input' }, label_html: {class: 'custom-control-label' }, as: :boolean if devise_mapping.rememberable? %>
        </div>
        <%= f.button :submit, "Log in", class: "btn-next" %>
      <% end %>
      <%= link_to "Sign up", intro_path, class: "btn-next" %>
      <%= link_to "Forgot your password?", new_password_path(resource_name) %>
    <%# </div> %>
  </div>
</div>
